<%= content_tag :div, class: "nested-form-wrapper", data: { "new-record": f.object.new_record? } do %>
  <h4>Choice</h4>
  <%= f.hidden_field :_destroy %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :url, "URL" %>
  <%= f.text_field :url %>
  <br>
  <%= button_tag "Delete", type: "button", data: { action: "nested-form#remove" } %>
<% end %>