<%= link_to "back", polls_path %>
<%= content_tag :article do %>
  <h1><%= @poll.title %></h1>
  <%= content_tag :p, @poll.content %>
<% end %>
<%= content_tag :aside do %>
  <%= content_tag :section do %>
    <h2>Cast a Vote</h2>
    <%= turbo_frame_tag "new_vote", src: new_poll_vote_path(@poll), target: "_top" %>
  <% end %>
  <%= content_tag :section do %>
    <h2>Make a Recommenation</h2>
    <%= turbo_frame_tag :new_recommendation, src: new_poll_recommendation_path(@poll), target: "_top"  %>
  <% end if @poll.allow_recommendations %>
<% end %>